<div class="row">
  <%= form_for @contact do |f| %>
    <%= f.lable :name %>
    <%= f.tex_feild :name %>
  
    <%=f.lable :email %>
    <%= f.email_feild  :email %>
 
    <%=f.lable :comments %>
    <%= f.text_area  :comments %>
  
  <% end %>
  
</div>

  
